
body {
        text-align: right;     
        background-image: url("images/IMG_0942.JPG");
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        color: #FAEBD7;
        font-family: "Trebuchet MS", sans-serif;
    }

h1 {
    font-family: "Irish Grover", cursive;
    margin: 20px;
    padding: px 40px;
    font-size: 10rem;
    display: inline-block;
    background-color: #8C3B1C; /* burnt umber */
    color: #FAEBD7; /* antique white */
    box-shadow: 0 0 25px rgba(224, 185, 115, 0.4);
    border-radius: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    font-size: 5vw;
}


/* --- Poster Wall --- */
.poster-wall {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* --- Poster Hotspots --- */
.poster {
    position: absolute;
    cursor: pointer;
}

#about {
    /* Top position relative to parent height */
    top: 23vh;
    /* Left position relative to parent width */
    left: 27.3%;
    /* Width relative to parent width */
    width: 16.7%;
    /* Height relative to parent height */
    height: 43vh;

   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 20%;
}

#contact {
    top: 64vh;
    left: 78.3%;
    width: 6.8%;
    height: 7vh;
    background-color: rgba(160, 210, 160, 0.2);
   border-radius: 20%;
}

#projects {
    top: 24vh;
    left: 48.4%;
    width: 9.9%;
    height: 25vh;
    background-color: rgba(214, 228, 153, 0.2);
   border-radius: 20%;
}

/* --- Glow Effect --- */
.glow {
    box-shadow: 0 0 300px 5px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    transition: 0.7s;
}

.glow:hover {
    box-shadow: 0 0 30px 10px rgb(0, 0, 0);
    transform: scale(1.05);
}

/* --- Poster Labels --- */
.poster::after {
    content: attr(data-info);
    position: absolute;
    bottom: -25px;
    left: 0;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 5px black;
    transition: opacity 0.3s;
    font-family: "Irish Grover";
}

.poster:hover::after {
    opacity: 1;
}



/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    #about {
        top: 10vh; /* Adjust top position for smaller screens */
        left: 5%;
        width: 40%;
        height: 25vh;
    }
    
    #projects {
        top: 10vh;
        left: 55%;
        width: 40%;
        height: 25vh;
    }

    #film {
        top: 38vh;
        left: 5%;
        width: 40%;
        height: 25vh;
    }

    #contact {
        top: 38vh;
        left: 55%;
        width: 40%;
        height: 25vh;
    }
    
    /* Make labels more readable on small screens */
    .poster::after {
        font-size: 30px;
    }

    
}
